@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

$utilities: () !default;
$utilities: map-merge(
  (
    "float": (
      responsive: false,
      property: float,
      values: (
        start: left,
        end: right,
        none: none,
      ),
    ),
    // "margin": (
    //   responsive: false,
    //   property: margin,
    //   class: m,
    //   values: map-merge($spacers, (auto: auto))
    // ),
    "margin-end":
      (
        responsive: false,
        property: margin-right,
        class: me,
        values:
          map-merge(
            $spacers,
            (
              auto: auto,
            )
          ),
      ),
    "padding": (
      responsive: false,
      property: padding,
      class: p,
      values: $spacers,
    ),
    "background-color": (
      property: background-color,
      class: bg,
      local-vars: (
        "bg-opacity": 1,
      ),
      values:
        map-merge(
          $utilities-bg-colors,
          (
            "transparent": transparent,
          )
        ),
    ),
    "color": (
      property: color,
      class: text,
      local-vars: (
        "text-opacity": 1,
      ),
      values:
        map-merge(
          $utilities-text-colors,
          (
            "muted": $text-muted,
            "reset": inherit,
          )
        ),
    ),
    // "pointer-events": (
    //   property: pointer-events,
    //   class: pe,
    //   values: none auto,
    // ),,,,
  ),
  $utilities
);

@import "node_modules/bootstrap/scss/root";
// @import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/forms/labels";
// @import "node_modules/bootstrap/scss/forms/form-text";
@import "node_modules/bootstrap/scss/forms/form-control";
// @import "node_modules/bootstrap/scss/forms/form-select";
// @import "node_modules/bootstrap/scss/forms/form-check";
// @import "node_modules/bootstrap/scss/forms/form-range";
// @import "node_modules/bootstrap/scss/forms/floating-labels";
// @import "node_modules/bootstrap/scss/forms/input-group";
@import "node_modules/bootstrap/scss/forms/validation";

// @import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/badge";
@import "node_modules/bootstrap/scss/close";
@import "node_modules/bootstrap/scss/utilities/api";

// Add pseudo focus support
.form-control-focus {
  color: $input-focus-color;
  background-color: $input-focus-bg;
  border-color: $input-focus-border-color;
  outline: 0;
  @if $enable-shadows {
    @include box-shadow($input-box-shadow, $input-focus-box-shadow);
  } @else {
    // Avoid using mixin so we can pass custom focus shadow properly
    box-shadow: $input-focus-box-shadow;
  }
}

@each $state, $data in $form-validation-states {
  .was-validated :#{$state} + .form-control-focus {
    border-color: map-get($data, "color");
    box-shadow: 0 0 $input-btn-focus-blur $input-focus-width rgba(map-get($data, "color"), $input-btn-focus-color-opacity);
  }
}
