@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/variables-dark";
@import "node_modules/bootstrap/scss/maps";
@import "node_modules/bootstrap/scss/mixins";

$utilities: (
  ) !default;
$utilities: map-merge(("opacity": (property: opacity,
        values: (0: 0,
          25: .25,
          50: .5,
          75: .75,
          100: 1,
        )),
      "background-color": (property: background-color,
        class: bg,
        local-vars: ("bg-opacity": 1,
        ),
        values: map-merge($utilities-bg-colors,
          ("transparent": transparent,
          )),
      ),
      "color": (property: color,
        class: text,
        local-vars: ("text-opacity": 1,
        ),
        values: map-merge($utilities-text-colors,
          ("muted": $text-muted,
            "reset": inherit,
          )),
      ),
    ),
    $utilities
);

@import "node_modules/bootstrap/scss/root";
// @import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/forms/labels";
// @import "node_modules/bootstrap/scss/forms/form-text";
@import "node_modules/bootstrap/scss/forms/form-control";
@import "node_modules/bootstrap/scss/forms/form-select";
// @import "node_modules/bootstrap/scss/forms/form-check";
// @import "node_modules/bootstrap/scss/forms/form-range";
// @import "node_modules/bootstrap/scss/forms/floating-labels";
// @import "node_modules/bootstrap/scss/forms/input-group";
@import "node_modules/bootstrap/scss/forms/validation";

// @import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/badge";
@import "node_modules/bootstrap/scss/close";
@import "node_modules/bootstrap/scss/utilities/api";
@import "node_modules/bootstrap/scss/helpers/text-truncation";

@import "tags";